/* GENERAL STYLE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #808080;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: orange;
}

/* UTILITIES */
.container {
  width: 1200px;
  margin: auto;
  position: relative;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.col-3 {
  width: calc(100% / 3);
  padding: 40px 30px;
}

.width-50 {
  width: 50%;
  padding: 50px 80px;
}

/* Buttons */
.btn {
  width: 100px;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 5px;
}

.btn-colored {
  border: none;
  background-color: green;
}

.btn-large {
  width: 100px;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
}

/* Tipography */
h1 {
  font-size: 38px;
  color: #fff;
  margin-bottom: 18px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
}

h3 {
  font-size: 20px;
  color: black;
}

p {
  line-height: 35px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* MAIN CONTENT */
/* Header */
.header-nav {
  line-height: 80px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #0c325a;
}
nav ul li {
  padding: 0 8px;
  display: inline-block;
}

.navbar-left, .navbar-right {
  width: 45%;
}

.logo {
  width: 10%;
}

.logo img {
  vertical-align: middle;
}

/* MAIN */

/* Jumbotron */
.jumbotron {
  height: 500px;
  background: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.box-text {
  width: 40%;
  padding-top: 10%;
  line-height: 60px;
}

.first-footer {
  line-height: 30px;
  height: 100px;
  padding: 20px;
  background-color: #d3d3d3;
}

/* columns */
.col-3 img {
  max-width: 250px;
  padding: 20px 0;
}

.col-3 h3 {
  color: green;
}

.col-3 h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  margin: 20px auto;
  background-color: black;
}
